{% extends "admin/master.html" %}

{% block body %}
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
<canvas id="myChart" width="400" height="400" class="m-3" style="max-height=600px"></canvas>
<script>
$(function() {
    $.ajax({
        url: '/statistic-admin',
        type: 'GET',
        success: function(response) {
            var dataa=JSON.parse(response);
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataa.labels,
                datasets: [{
                    label: '# of Rate',
                    data: dataa.data,
                    borderColor: 'black',
                    borderWidth: 1
                }]
            },
            options: {
                title:{
                    display: true,
                    text: 'Passing rate',
                    fontSize:40
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 80,
                        }
                    }]
                }

            }
        });
        },
        error: function(error) {
            console.log(error);
        }
    });
});

</script>
{% endblock %}