{% extends "index.html" %}


{% block body %}
<div class="d-flex justify-content-between m-3 align-items-end">
    <form id="submit" class="col-sm-">
        <div class="d-flex justify-content-between align-items-end">
            <label for="semester" class="" style="flex:none!important;max-width:100%!important">Học kì</label>
            <select name="semester" id="semester" onchange="this.form.submit()" class="custom-select ml-2">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
    </form>
    <h3>{{res[0].fullname}}</h3>
</div>

<table class="table table-striped table-bordered table-hover"
       style="border:2px; background-color:white;text-align:center; color:black">
    <thead>
    <tr style="background-color:skyblue">
        <th>Môn</th>
        <th>Điểm 15 phút</th>
        <th>Điểm 1 tiết</th>
        <th>Điểm cuối kì</th>
        <th>Điểm trung bình</th>
    </tr>
    </thead>
    <tbody>
    {% for s in res %}
    <tr>
        <td>{{s.subject}}</td>
        <td>{{s.scores_15}}</td>
        <td>{{s.scores_1h}}</td>
        <td>{{s.scores_final}}</td>
        <td>{{s.avg_scores}}</td>
    </tr>
    {% endfor%}
    <tr>
        <th colspan="4" >Cuối kì</th>
        <th>{{avg}}</th>
    </tr>
    {% if semester == '2' %}
    <tr>
        <th colspan="4" >Cả năm</th>
        <th>{{avg_all}}</th>
    </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}

{% block jsFooter %}
<script>
$('#semester').val({{semester}});
</script>
{% endblock %}